
@{
    ViewBag.Title = "Admin";
}
<head>
    <link href="~/Style/AdminCardStyle.css" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.csss" />
</head>
<div class="container">
    <div class="row">
        <section class="card-holder">
            <!-- Begin iOS -->
            <div class="col-md-4 col-sm-6">
                <div class="card-container manual-flip">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="https://bilbo.surge.sh/codepen/download-cards/apple.png" />
                            </div>
                            <div class="branded">

                                <span class="fas fa-utensils"></span>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h3 class="use-for faint">Add Decor Packages</h3>
                                    <button type="button" class="btn btn-default btn-block btn-download">Add</button>
                                </div>
                                @*<div class="footer">
                                        <button class="btn btn-flip btn-qr" onclick="rotateCard(this)">
                                            <i class="fa fa-mail-forward"></i> Get QR Code
                                        </button>
                                    </div>*@
                            </div>
                        </div>
                        @*<div class="back">
                                <div class="header">
                                    <h3 class="use-for faint">QR Code</h3>
                                </div>
                                <div class="content">
                                    <div id="qrIos" class="qr text-center"></div>
                                </div>
                                <div class="footer">
                                    <button class="btn btn-flip" onclick="rotateCard(this)">
                                        <i class="fa fa-reply"></i> Back
                                    </button>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
            <!-- End iOS -->
            <!-- Begin Android -->
            <div class="col-md-4 col-sm-6">
                <div class="card-container manual-flip">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="https://bilbo.surge.sh/codepen/download-cards/android.png" />
                            </div>
                            <div class="branded">
                                <span class="fa fa-android"></span>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h3 class="use-for faint">Add Catering Packages</h3>
                                    <button type="button" class="btn btn-default btn-block btn-download">
                                        Add
                                    </button>
                                </div>
                                @*<div class="footer">
                                        <button class="btn btn-flip btn-qr" onclick="rotateCard(this)">
                                            <i class="fa fa-mail-forward"></i> Get QR Code
                                        </button>
                                    </div>*@
                            </div>
                        </div>
                        <!-- end front panel -->
                        @*<div class="back">
                                <div class="header">
                                    <h3 class="use-for faint">QR Code</h3>
                                </div>
                                <div class="content">
                                    <div id="qrAndroid" class="qr text-center"></div>
                                </div>
                                <div class="footer">
                                    <button class="btn btn-flip" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                                        <i class="fa fa-reply"></i> Back
                                    </button>
                                </div>
                            </div>*@
                        <!-- end back panel -->
                    </div>
                </div>
            </div>
            <!-- End Android -->
            <!-- Begin Web -->
            <div class="col-md-4 col-sm-6">
                <div class="card-container manual-flip">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="https://bilbo.surge.sh/codepen/download-cards/web.png" />
                            </div>
                            <div class="branded">
                                <span class="fa fa-windows"></span>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h3 class="use-for faint">Add Admin</h3>
                                    <button onclick="location.href = '@Url.Action("RegisterRole", "Account")'"
                                            type="button" class="btn btn-default btn-block btn-download">
                                        Add
                                    </button>
                                </div>
                                @*<div class="footer">
                                        <button class="btn btn-flip btn-qr" onclick="rotateCard(this)">
                                            <i class="fa fa-mail-forward"></i> Get QR Code
                                        </button>
                                    </div>*@
                            </div>
                        </div>
                        <!-- end front panel -->
                        @*<div class="back">
                                <div class="header">
                                    <h3 class="use-for faint">QR Code</h3>
                                </div>
                                <div class="content">
                                    <div id="qrWeb" class="qr text-center"></div>
                                </div>
                                <div class="footer">
                                    <button class="btn btn-flip" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                                        <i class="fa fa-reply"></i> Back
                                    </button>
                                </div>
                            </div>*@
                        <!-- end back panel -->
                    </div>
                </div>
            </div>   <div class="col-md-4 col-sm-6">
                <div class="card-container manual-flip">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="https://bilbo.surge.sh/codepen/download-cards/apple.png" />
                            </div>
                            <div class="branded">

                                <span class="fas fa-utensils"></span>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h3 class="use-for faint">Add Picture</h3>

                                    <button onclick="location.href = '@Url.Action("FileUploadProcess", "FileUpload")'"
                                            type="button" class="btn btn-default btn-block btn-download">
                                        Add
                                    </button>
                                </div>
                                @*<div class="footer">
                                        <button class="btn btn-flip btn-qr" onclick="rotateCard(this)">
                                            <i class="fa fa-mail-forward"></i> Get QR Code
                                        </button>
                                    </div>*@
                            </div>
                        </div>
                        @*<div class="back">
                                <div class="header">
                                    <h3 class="use-for faint">QR Code</h3>
                                </div>
                                <div class="content">
                                    <div id="qrIos" class="qr text-center"></div>
                                </div>
                                <div class="footer">
                                    <button class="btn btn-flip" onclick="rotateCard(this)">
                                        <i class="fa fa-reply"></i> Back
                                    </button>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
            <!-- End Web -->
        </section>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#qrIos').qrcode({
            width: 200,
            height: 200,
            text: "iOS_URL_HERE"
        });
        $('#qrAndroid').qrcode({
            width: 200,
            height: 200,
            text: "DROID_URL_HERE"
        });
        $('#qrWeb').qrcode({
            width: 200,
            height: 200,
            text: "WINDOWS_URL_HERE"
        });
    });

    //function rotateCard(btn) {
    //    var $card = $(btn).closest('.card-container');
    //    console.log($card);
    //    if ($card.hasClass('hover')) {
    //        $card.removeClass('hover');
    //    } else {
    //        $card.addClass('hover');
    //    }
    //}
</script>
