
@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <style>
                @@import url(https://fonts.googleapis.com/css?family=Roboto:300);

                .content:after, .gallery:after {
                    content: "";
                    display: table;
                    clear: both;
                }

                body {
                    background: #fff;
                    color: #666;
                    font-family: "Roboto", Helvetica, Arial, sans-serif;
                    font-size: 16px;
                    line-height: 1.5;
                    -webkit-backface-visibility: hidden;
                    text-align: center;
                    font-weight: 300;
                }

                h1, h2 {
                    font-weight: 200;
                    color: #000;
                }

                h1 {
                    font-size: 38px;
                    margin-bottom: 2.1739130435%;
                }

                p {
                    color: #000;
                }

                hr {
                    background: none;
                    margin: 4.347826087% 0;
                    border: none;
                    border-bottom: 1px solid #ddd;
                }

                a {
                    text-decoration: none;
                    color: #FF0080;
                }

                .container {
                    max-width: 1100px;
                    margin-left: auto;
                    margin-right: auto;
                    margin: 0 auto;
                }

                    .container:after {
                        content: " ";
                        display: block;
                        clear: both;
                    }

                .content {
                    padding: 4.347826087%;
                }

                    .content img {
                        width: 100%;
                    }

                .gallery {
                    margin: 0 auto;
                    text-align: center;
                    width: 100%;
                }

                    .gallery li {
                        width: 21.7391304348%;
                        float: left;
                        text-align: center;
                        position: relative;
                        margin-bottom: 4.347826087%;
                        display: inline-block;
                    }

                        .gallery li:nth-child(4n + 1) {
                            margin-left: 0;
                            margin-right: -100%;
                            clear: both;
                            margin-left: 0;
                        }

                        .gallery li:nth-child(4n + 2) {
                            margin-left: 26.0869565217%;
                            margin-right: -100%;
                            clear: none;
                        }

                        .gallery li:nth-child(4n + 3) {
                            margin-left: 52.1739130435%;
                            margin-right: -100%;
                            clear: none;
                        }

                        .gallery li:nth-child(4n + 4) {
                            margin-left: 78.2608695652%;
                            margin-right: -100%;
                            clear: none;
                        }

                @@media (max-width: 48rem) {
                    .gallery li {
                        width: 30.4347826087%;
                        float: left;
                    }

                        .gallery li:nth-child(3n + 1) {
                            margin-left: 0;
                            margin-right: -100%;
                            clear: both;
                            margin-left: 0;
                        }

                        .gallery li:nth-child(3n + 2) {
                            margin-left: 34.7826086957%;
                            margin-right: -100%;
                            clear: none;
                        }

                        .gallery li:nth-child(3n + 3) {
                            margin-left: 69.5652173913%;
                            margin-right: -100%;
                            clear: none;
                        }
                }

                @@media (max-width: 30rem) {
                    .gallery li {
                        width: 47.8260869565%;
                        float: left;
                    }

                        .gallery li:nth-child(2n + 1) {
                            margin-left: 0;
                            margin-right: -100%;
                            clear: both;
                            margin-left: 0;
                        }

                        .gallery li:nth-child(2n + 2) {
                            margin-left: 52.1739130435%;
                            margin-right: -100%;
                            clear: none;
                        }
                }

                @@media (max-width: 20rem) {
                    .gallery li {
                        width: 100%;
                        float: left;
                    }

                        .gallery li:nth-child(1n + 1) {
                            margin-left: 0;
                            margin-right: -100%;
                            clear: both;
                            margin-left: 0;
                        }
                }

                .gallery li h2 {
                    color: #000;
                    font-size: 13.5px;
                    letter-spacing: 1px;
                    margin-top: 2.1739130435%;
                    text-transform: uppercase;
                }

                .gallery li .imgwrap {
                    background-color: #fff;
                    padding: 8px;
                    position: relative;
                    border-radius: 2px;
                    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
                }

                .gallery li .imgmask {
                    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Plus_font_awesome.svg/2000px-Plus_font_awesome.svg.png") 50%/25px no-repeat;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    opacity: 0;
                    z-index: 1;
                    vertical-align: bottom;
                    text-align: center;
                    transition: all .25s ease-out;
                }

                .gallery li img {
                    width: 100%;
                    vertical-align: top;
                    transition: all .25s ease-out;
                }

                @@media (max-width: 20rem) {
                    .gallery li img {
                        width: 100%;
                    }
                }

                .gallery li:hover img {
                    opacity: 0;
                    transition: all .25s ease-out;
                }

                .gallery li:hover .imgmask {
                    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Plus_font_awesome.svg/2000px-Plus_font_awesome.svg.png") 50%/85px no-repeat;
                    opacity: 1;
                    transition: all .25s ease-out;
                }

                footer {
                    font-size: 14.5px;
                    text-transform: uppercase;
                }



                .container-fluid.main {
                    position: relative; /* To make the navbar positions relative to this container */
                    padding: 0;
                }

                .navbar-default {
                    color: #000;
                    background-image: none;
                    border-color: transparent !important;
                    background-color: transparent !important; /* Make the menu become transparent */
                    border-radius: 0px;
                    border: 0;
                    box-shadow: none;
                    padding: 10px;
                    position: absolute !important; /* Make the menu out of the document flow so it can placed anywhere without disturbing other widgets */
                    top: 0;
                    left: 0;
                    right: 0;
                    z-index: 10; /* If you delete this line, your menu link won't be clicked because it is behind the background. Applying this code bring the menu in front of the background */
                }

                    .navbar-default .navbar-brand {
                        font-family: Verdana;
                        color: #000 !important;
                        font-size: 20px;
                    }

                        .navbar-default .navbar-brand:hover,
                        .navbar-default .navbar-brand:focus {
                            color: #666666;
                            background-color: transparent;
                        }

                    .navbar-default .navbar-nav > li > a {
                        color: #000 !important;
                    }

                        .navbar-default .navbar-nav > li > a:hover,
                        .navbar-default .navbar-nav > li > a:focus {
                            color: #666 !important;
                            background-color: transparent;
                        }

                    .navbar-default .navbar-toggle {
                        border-color: transparent;
                    }

                        .navbar-default .navbar-toggle:hover {
                            background-color: transparent;
                        }

                        .navbar-default .navbar-toggle:focus {
                            background-color: transparent;
                        }

                        .navbar-default .navbar-toggle .icon-bar {
                            background-color: #000;
                        }




                .reviews {
                    width: 600px;
                    height: 150px;
                    overflow: hidden;
                    background-color: #fff;
                    border-radius: 5px;
                    margin: 50px auto;
                    position: relative;
                    box-shadow: 0 0 10px -2px #ddd;
                }

                .panel {
                    width: 100%;
                    max-height: 100%;
                    position: absolute;
                }

                .PanelAct {
                    left: 0;
                }

                .panel img {
                    width: 100px;
                    height: 100px;
                    text-align: center;
                    float: left;
                    margin: 25px;
                }
                /*== Removal Start
        png images background
        ==*/
                .panel:nth-of-type(1) img {
                    background: #12aedb;
                }

                .panel:nth-of-type(2) img {
                    background: #db4646;
                }

                .panel:nth-of-type(3) img {
                    background: #96c465;
                }
                /*== Removal End==*/

                .panel p {
                    float: left;
                    width: 420px;
                    clear: right;
                    text-align: justify;
                    margin: 25px 0 10px 0;
                    font-size: 14px;
                    color: #aaa;
                    line-height: 1.2em;
                }

                .panel h7 {
                    float: left;
                    width: 200px;
                    font-size: 14px;
                    color: #999;
                    font-weight: bold;
                    font-style: italic;
                }

                .control {
                    position: absolute;
                    bottom: 20px;
                    right: 30px;
                }

                    .control span {
                        background-color: rgba(0, 0, 0, 0.1);
                        padding: 5px;
                        display: inline-block;
                        vertical-align: top;
                        margin-left: 5px;
                        border-radius: 50%;
                        cursor: pointer;
                        transition: 0.3s ease-in;
                    }

                .ContActive {
                    background-color: #bbb !important;
                }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid main">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Avante Venues</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="/Home/Home">Home</a></li>
                        <li><a href="/Home/Gallery">Gallery</a></li>
                        <li><a href="/Home/Packages">Packages</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>

        <div class="container">
            <main class="content">
                <h1>Our Gallery</h1>
                <p> general description of pictures(Add upload pictures feature)</p>

                <hr>

                <ul class="gallery">

                    <li>
                        <div class="imgwrap">
                            <a href="#">
                                <img src="https://unsplash.it/300/300/?random" alt="image">
                                <span class="imgmask"></span>
                            </a>
                        </div>
                        <a href="#">
                            <h2>Awesome</h2>
                        </a>
                    </li>

                    <li>
                        <div class="imgwrap">
                            <a href="#">
                                <img src="https://unsplash.it/301/301/?random" alt="image">
                                <span class="imgmask"></span>
                            </a>
                        </div>
                        <a href="#">
                            <h2>Amazing</h2>
                        </a>
                    </li>

                    <li>
                        <div class="imgwrap">
                            <a href="#">
                                <img src="https://unsplash.it/302/302/?random" alt="image">
                                <span class="imgmask"></span>
                            </a>
                        </div>
                        <a href="#">
                            <h2>Nice Pic</h2>
                        </a>
                    </li>

                    <li>
                        <div class="imgwrap">
                            <a href="#">
                                <img src="https://unsplash.it/303/303/?random" alt="image">
                                <span class="imgmask"></span>
                            </a>
                        </div>
                        <a href="#">
                            <h2>Sweet</h2>
                        </a>
                    </li>

                    <li>
                        <div class="imgwrap">
                            <a href="#">
                                <img src="https://unsplash.it/304/304/?random" alt="image">
                                <span class="imgmask"></span>
                            </a>
                        </div>
                        <a href="#">
                            <h2>Cute Image</h2>
                        </a>
                    </li>

                    <li>
                        <div class="imgwrap">
                            <a href="#">
                                <img src="https://unsplash.it/305/305/?random" alt="image">
                                <span class="imgmask"></span>
                            </a>
                        </div>
                        <a href="#">
                            <h2>Excellent</h2>
                        </a>
                    </li>

                    <li>
                        <div class="imgwrap">
                            <a href="#">
                                <img src="https://unsplash.it/306/306/?random" alt="image">
                                <span class="imgmask"></span>
                            </a>
                        </div>
                        <a href="#">
                            <h2>Tasty</h2>
                        </a>
                    </li>

                    <li>
                        <div class="imgwrap">
                            <a href="#">
                                <img src="https://unsplash.it/307/307/?random" alt="image">
                                <span class="imgmask"></span>
                            </a>
                        </div>
                        <a href="#">
                            <h2>Good Stuff</h2>
                        </a>
                    </li>

                    <li>
                        <div class="imgwrap">
                            <a href="#">
                                <img src="https://unsplash.it/308/308/?random" alt="image">
                                <span class="imgmask"></span>
                            </a>
                        </div>
                        <a href="#">
                            <h2>Pretty</h2>
                        </a>
                    </li>

                    <li>
                        <div class="imgwrap">
                            <a href="#">
                                <img src="https://unsplash.it/309/309/?random" alt="image">
                                <span class="imgmask"></span>
                            </a>
                        </div>
                        <a href="#">
                            <h2>Fine Art</h2>
                        </a>
                    </li>

                    <li>
                        <div class="imgwrap">
                            <a href="#">
                                <img src="https://unsplash.it/310/310/?random" alt="image">
                                <span class="imgmask"></span>
                            </a>
                        </div>
                        <a href="#">
                            <h2>Super Duper</h2>
                        </a>
                    </li>

                    <li>
                        <div class="imgwrap">
                            <a href="#">
                                <img src="https://unsplash.it/311/311/?random" alt="image">
                                <span class="imgmask"></span>
                            </a>
                        </div>
                        <a href="#">
                            <h2>Sexy Stuff</h2>
                        </a>
                    </li>
                </ul>
                <hr>
                <div class='reviews'>
                    <!-- Panel one -->
                    <div class='panel'>
                        <img src='http://www.designbolts.com/wp-content/uploads/2014/01/Superman-Flat-Design.png'>
                        <p>
                            Some shit about how good the event was
                            Have a rating scale.
                        </p>
                        <h7>Person Name</h7>
                    </div>


                </div>
            </main>
        </div>

    </div>



    <script>
    speed = 600;

    $(document).ready(function(){
        $(".reviews").each(function(){
            var This = $(this) ;
            var Nums = This.find(".panel").size() ;
            This.find(".panel:first").addClass("PanelAct");
            This.append("<div class='control'></div>") ;
            This.find(".panel").not(".PanelAct")
                .css("left","100%")
            for ( i=0 ; i<Nums ; i++) {
                This.find(".control").append("<span></span>") ;
            }
            This.find(".control span:eq(0)").addClass("ContActive");

            This.find(".control span").click(Reviews);

            function Reviews(){
                var loc = $(this).index();
                var ActivLoc = This.find(".ContActive").index();

                $(this).addClass("ContActive")
                    .siblings().removeAttr("class");

                if ( loc > ActivLoc ) {
                    var Dire = '100%'
                    var IDire = '-100%'
                }
                if ( loc < ActivLoc ) {
                    var Dire = '-100%'
                    var IDire = '100%'
                }

                This.find(".panel").not(".PanelAct")
                    .css("left",Dire) ;
                This.find(".panel:eq("+loc+")")
                    .animate({'left':'0'},speed)
                    .addClass("PanelAct")
                    .siblings(".PanelAct")
                    .removeClass("PanelAct")
                    .animate({'left':IDire},speed);
            }
        });
    });

    </script>
</body>